{% load static %}
<footer class="footer fixed-bottom text-white text-center py-3" style="background-color: #18191A">
    <div class="container">
      <p>&copy; 2025 Looking For This</p>
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">About Us</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'items' %}">Items</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'report' %}">Report</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </footer>