{% extends "index.html" %}
{% load static %}

{% block title %} Delete Items {% endblock %}

{%block content%}
  
<body style="background-color: black; color: whitesmoke;">
    <div class="container mt-5">
        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete "{{ item.item_name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'items' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>

{% endblock %}